{% load static %}


<html lang="en">

<head>
  <title>{% block titulo %}Cambiar Estado{% endblock %}</title>
  <link href="{% static 'app/css/estilo_cambiarestado.css' %}" rel="stylesheet">
</head>

<body>

  <div class="contenedor">

    <div class="header">
      <ul id="menu">
        <li><a href="{% url 'app:menu_decano' %}">Inicio</a></li>
        <li><a href="{% url 'app:vot' %}">Votaciones</a></li>
        <li><a href="{% url 'app:est' %}">Estudiantes</a></li>
        <li><a href="{% url 'app:consult' %}">Consultas</a></li>
        <li><a href="{% url 'app:ingresar' %}">Salir</a></li>
      </ul>
    </div>

    <div class="contenido">
      <br>
      <h3>Cambiar Estado</h2>
        <br><br><br>
        <table>
          <thead>
            <tr class="no">
              <th>nombre de la votación</th>
              <th>Estado de la Votación</th>
              </tr>
              </thead>
              <tbody>
                <form action="{% url 'app:cambiar_estado2' %}" method="POST" id="formu">
                  {% csrf_token %}
                  <td>
                    <select>
                      {%for lista3 in cambiar_estado%}
                      <option name="nombres" value="{{lista3.id}}">{{lista3.nombre}}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td for="estado" id="pos">
                    <select>
                      {%for estados in cambiar_estados%}
                      <option name="estado" value="{{estados.codigo}}">{{estados.nombre}}</option>
                      {% endfor %}
                    </select>
                    <button type="submit">Guardar Cambios</button>
                  </td>
                  </tr>
                </form>
              </tbody>
              </table>
              <br>
              <br>
              <a href="" class="cr">Guardar</a>
              </div>
              <div class="contenido2">
                <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">
              </div>
              <div class="footer"></div>
              </div>
              </body>
</html>