<html lang="en">
<head>
    <title>Consutlar Votaciones Semestre</title>
    <link rel="stylesheet" href="./css/estilo_consultavotacion.css">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/menu_decano.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">Votaciones</a></li>
            <li><a href="/Proyecto Final nube/est.html">Estudiantes</a></li>
            <li><a href="/Proyecto Final nube/consult.html">Consultas</a></li> 
            <li><a href="/Proyecto Final nube/Ingresar.html" >Salir</a></li>
        </ul>
        </div>
          
            <div class="contenido">
                <br>
                <h3>Candidatos Ganadores Facultad</h2>
                <table>
                          <thead>
                            <tr>
                              <th>Nombres</th>
                              <th>Cantidad de votos</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="fila"> 
                              <td></td> 
                              <td></td> 
                            </tr>      
                          </tbody>
                        </table>
                        <br>
                        <a href="./Consulta_votaciónfacultad.html" class="cr">Atras</a>
          </div>
              <div class="contenido2">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">
              </div>
              <div class="footer"></div>
            </div>
</body>
</html>