<html lang="en">
<head>
    <title>Consutlar Votaciones Semestre</title>
    <link rel="stylesheet" href="./css/estilo_consultavotacion.css">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/menu_decano.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">Votaciones</a></li>
            <li><a href="/Proyecto Final nube/est.html">Estudiantes</a></li>
            <li><a href="/Proyecto Final nube/consult.html">Consultas</a></li> 
            <li><a href="/Proyecto Final nube/Ingresar.html" >Salir</a></li>
        </ul>
        </div>
          
            <div class="contenido">
                <br>
                <h3>Consulta de Votaciones Facultad</h2>
                <br><br>
                <br><br>
                <table>
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Fecha de inicio</th>
                              <th>Fecha finalización</th>
                              <th>Ciclo</th>
                              <th>Estado</th>
                              <th>Estudiantes habilitados para votar</th>
                              <th>Estudiantes que han votado</th>
                              <th>Porcentaje</th>
                              <th>Candidatos</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="fila"> 
                              <td></td>
                              <td for="estado" id="pos">
                                  
                              </td>  
                              <td for="estado"id="vot">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                <a href="/Proyecto Final nube/candidatos-ganadores2.html" class="cr">Consultar</a>
                              </td>  
                            </tr>      
                          </tbody>
                        </table>
                        <br>
                        <a href="" class="cr">Guardar</a>
          </div>
              <div class="contenido2">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">
              </div>
              <div class="footer"></div>
            </div>
</body>
</html>