<html lang="en">
<head>
    <title>Consultar mi voto</title>
    <link rel="stylesheet" href="./css/estilo-consultar-mivoto.css">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/Menu_estudiante.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">votar</a></li>
            <li><a href="/Proyecto Final nube/postularse.html">Postularse</a></li>
            <li><a href="./Consult-estudiante.html">Consultas</a></li> 
            <li><a href="/Proyecto Final nube/Ingresar.html" id="profiles">Salir</a></li>
            </ul>
        </div>
          
            <div class="contenido">
                <br>
                <h3>Consultar mi voto</h2>
                <br><br>
                <table>
                  <thead>
                    <tr>
                      <th>Nombre Votacion</th>
                      <th>Ciclo</th>
                      <th>Fecha de inicio</th>
                      <th>Fecha finalización</th>
                      <th>tipos de Votacion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="fila"> 
                      <td></td> 
                      <td for="estado"id="vot">
                          
                      </td>  
                      <td for="estado" id="">
                          
                      </td>  
                      <td for="estado" id="">
                          
                      </td>  
                      <td for="estado" id="">
                        <p>Resultado: <output id="" for=""></output></p>
                      </td> 
                      <td for="estado" id="cerrada">
                        <a href="./Listadecandidatos-vot.html" class="cr">Consultar</a>
                      </td>  
                    </tr>
                    <tr class="fila"> 
                      <td></td> 
                      <td for="estado"id="vot">
                          
                      </td>  
                      <td for="estado" id="">
                          
                      </td>  
                      <td for="estado" id="">
                          
                      </td>  
                      <td for="estado" id="">
                        <p>Resultado: <output id="" for=""></output></p>
                      </td>  
                      <td for="estado" id="cerrada">
                        <a href="./Listadecandidatos-vot.html" class="cr">Consultar</a>
                      </td> 
                    </tr>
                    <tr class="fila"> 
                      <td></td> 
                      <td for="estado"id="vot">
                          
                      </td>  
                      <td for="estado" id="">
                          
                      </td>  
                      <td for="estado" id="">
                          
                      </td>  
                      <td for="estado" id="">
                        <p>Resultado: <output id="" for=""></output></p>
                      </td>  
                      <td for="estado" id="cerrada">
                        <a href="./Listadecandidatos-vot.html" class="cr">Consultar</a>
                      </td> 
                    </tr>
                    <tr class="fila"> 
                      <td></td> 
                      <td for="estado"id="vot">
                          
                      </td>  
                      <td for="estado" id="">
                          
                      </td>  
                      <td for="estado" id="">
                          
                      </td>  
                      <td for="estado" id="">
                        <p>Resultado: <output id="" for=""></output></p>
                      </td>  
                      <td for="estado" id="cerrada">
                        <a href="./Listadecandidatos-vot.html" class="cr">Consultar</a>
                      </td> 
                    </tr>
                    <tr class="fila"> 
                      <td></td> 
                      <td for="estado"id="vot">
                          
                      </td>  
                      <td for="estado" id="">
                          
                      </td>  
                      <td for="estado" id="">
                          
                      </td>  
                      <td for="estado" id="">
                        <p>Resultado: <output id="" for=""></output></p>
                      </td> 
                      <td for="estado" id="cerrada">
                        <a href="./Listadecandidatos-vot.html" class="cr">Consultar</a>
                      </td>  
                    </tr>
                   
                  </tbody>
                </table>
                <br><br>
                <br>
                        <br>
                        <br>
                        <br>
          </div>
              <div class="contenido2">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">
              </div>
              <div class="footer"></div>
              
            </div>
</body>
</html>