<html lang="en">
<head>
    <title>Consulta</title>
    <link rel="stylesheet" href="./css/estilo_opciones.css">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
            <ul id="menu">
              <li ><a href="/Proyecto Final nube/Menu_estudiante.html">Inicio</a></li>
              <li ><a href="/Proyecto Final nube/Vot.html">votar</a></li>
              <li><a href="/Proyecto Final nube/postularse.html">Postularse</a></li>
              <li><a href="./Consult-estudiante.html">Consultas</a></li> 
              <li><a href="/Proyecto Final nube/Ingresar.html" id="profiles">Salir</a></li>
              </ul>
          </div>
              <div class="contenido">
                <br><br>
                <img id="ima1" src="./image/consultar.png" alt="" width="100">

                <a href="./hacer_votacion.html"><button id="Cr"><h2>Votación por semestre</h1></button></a>
                <a href="./Hacervotación_facultad.html"><button id="Cr"><h2>Votación por facultad</h1></button></a>
                <a href="/Proyecto Final nube/Listade_votaciones.html"><button id="Cr"><h2>Lista de votaciones</h1></button></a>
            </div>
            <div class="contenido2">
            <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">

            </div>
              <div class="footer">
              </div>
            </div>
</body>
</html>