{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Consular Candidatos{% endblock %}</title>
    <link href="{% static 'app/css/estilo_consultavotacion.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:menu_decano' %}">Inicio</a></li>
            <li ><a href="{% url 'app:Vot' %}">Votaciones</a></li>
            <li><a href="{% url 'app:est' %}">Estudiantes</a></li>
            <li><a href="{% url 'app:consult' %}">Consultas</a></li> 
            <li><a href="{% url 'app:ingresar' %}" >Salir</a></li>
        </ul>
        </div>
          
            <div class="contenido">
                <br>
                <h3>Candidatos Ganadores</h2>
                <table>
                          <thead>
                            <tr>
                              <th>Nombres</th>
                              <th>Cantidad de votos</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="fila"> 
                              <td></td> 
                              <td></td> 
                            </tr>      
                          </tbody>
                        </table>
                        <br>
                        <a href="{% url 'app:resultados_finales' %}"class="cr">Atras</a>
          </div>
              <div class="contenido2">
                <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">              </div>
              <div class="footer"></div>
            </div>
</body>
</html>