{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Pagina Principal{% endblock %}</title>
    <link href="{% static 'app/css/estilo_consultavotacion.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:menu_decano' %}">Inicio</a></li>
            <li ><a href="{% url 'app:vot' %}">Votaciones</a></li>
            <li><a href="{% url 'app:est' %}">Estudiantes</a></li>
            <li><a href="{% url 'app:consult' %}">Consultas</a></li> 
            <li><a href="{% url 'app:ingresar' %}" >Salir</a></li>
        </ul>
        </div>
          
            <div class="contenido">
                <br>
                <h3>Consulta de Votaciones</h2>
                <br><br>
                <h3>Elegir Semestre</h3>
                <select>
                    <option value="">Semestre</option>
                    <option value="1">Semestre 1</option>
                    <option value="1">Semestre 2</option>
                    <option value="1">Semestre 3</option>
                    <option value="1">Semestre 4</option>
                    <option value="1">Semestre 5</option>
                    <option value="1">Semestre 6</option>
                    <option value="1">Semestre 7</option>
                    <option value="1">Semestre 8</option>
                    <option value="1">Semestre 9</option>
                    <option value="1">Semestre 10</option>
                </select>
                <br><br>
                <table>
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Fecha de inicio</th>
                              <th>Fecha finalización</th>
                              <th>Ciclo</th>
                              <th>Estado</th>
                              <th>Estudiantes habilitados para votar</th>
                              <th>Estudiantes que han votado</th>
                              <th>Porcentaje</th>
                              <th>Candidatos</th>
                            </tr>
                          </thead>
                          <tbody>
                            {%for listav  in consultar_votacionsemestre%}
                            <tr class="fila"> 
                              <td>{{listav.nombre}}</td>
                              <td>{{listav.fechaInicio}}</td>
                              <td>{{listav.fechaFinal}}</td>
                              <td>2022-1</td>
                              <td>{{listav.estado}}</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>
                                <a href="{% url 'app:candidatos-ganadores' %}"class="cr">Consultar</a>
                              </td> 
                            </tr>
                            {% endfor %}   
                          </tbody>
                        </table>
                        <br>
                        <a href="" class="cr">Guardar</a>
          </div>
              <div class="contenido2">
                <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">              </div>
              <div class="footer"></div>
            </div>
</body>
</html>