<html lang="en">
<head>
    <title>Crear Estudiante</title>
    <link rel="stylesheet" href="./css/Estilo_crearestudiante.css">
</head>
<body>
  <div class="header">
    <ul id="menu">
      <li ><a href="/Proyecto Final nube/menu_decano.html">Inicio</a></li>
      <li ><a href="/Proyecto Final nube/Vot.html">Votaciones</a></li>
      <li><a href="/Proyecto Final nube/est.html">Estudiantes</a></li>
      <li><a href="/Proyecto Final nube/consult.html">Consultas</a></li> 
      <li><a href="/Proyecto Final nube/Ingresar.html" >Salir</a></li>
  </ul>
    </div>
      <div class="contenedor" >
              <div class="contenido">
                <h2>Crear Estudiante</h2>
      <br>
   
    <form id="formu">

      <label for="apellidos" ><h2>Nombres&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
      <input type="text" />
      <br />  
      <br />
      <label for="apellidos"><h2>Apellidos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
      <input type="text"  />
      <br />
      <br />
      <label for="apellidos"><h2>Facultad &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
      <output type="text"  />
      <label for="">Ingenieria de Telecomunicaciones</label>
      <br />
      <br />
      <label for="apellidos"><h2>Documento&nbsp;&nbsp;&nbsp;</h2> </label>
      <input type="number" />
      <br />
      <br />
      <label for="apellidos"><h2>Semestre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
      <input type="text" />
      <br />
      <br />
      <label for="apellidos"><h2>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>  </label>
      <input type="email">
      <br />
      <br />
      <br />
      <button id="Cr"><h1>Crear</h1></button>

      
    </form>
              </div>
              <div class="contenido2">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">
              </div>
              <div class="footer"></div>
            </div>
</body>
</html>