{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Pagina Principal{% endblock %}</title>
    <link href="{% static 'app/css/estilo_crear_votacion.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >
        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:menu_decano' %}">Inicio</a></li>
            <li ><a href="{% url 'app:vot' %}">Votaciones</a></li>
            <li><a href="{% url 'app:est' %}">Estudiantes</a></li>
            <li><a href="{% url 'app:consult' %}">Consultas</a></li> 
            <li><a href="{% url 'app:ingresar' %}" >Salir</a></li>
        </ul>
        </div>
          
            <div class="contenido">
                <div class="cajita">      
                <h3>Crear Votación</h3>
      <br>
      <form action="{% url 'app:crear_votacion2' %}" method="POST" id="formu">
        {% csrf_token %}

            <label  ><h3>Nombre de Votación&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></label>
            <input name="nombrev" id="nombrev"type="text" />
            <br />  
            <br />
            <label ><h3>Fecha de inicio&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></label>
            <input name="fecha" id="fecha"type="date" />
            <br />
            <br />
            <label ><h3>Fecha de finalización&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></label>
            <input name="fecha2" id="fecha2"type="date" />
            <br />
            <br />
            <label ><h3>Ciclo 20221&nbsp;&nbsp;&nbsp;</h3> </label>
            <output type="text" id="facultad" >
          <br>
          <br>
            <label ><h3>Selesccione tipo de Votación&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></label>
            <select name="facultad" id="facultad">
              <option value=1>Facultad</option>
              <option value=2>semestre</option>
            </select>
            <br />
            <br />
            <button type="submit">Crear</button>
      
            
          </form>
              </div>
          </div>
              <div class="contenido2">
                <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">              </div>
              <div class="footer"></div>
            </div>
</body>
</html>