<html lang="en">
<head>
    <title>Crear Votación</title>
    <link rel="stylesheet" href="./css/estilo_crear_votacion.css">
</head>
<body>
    
      <div class="contenedor" >
        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/menu_decano.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">Votaciones</a></li>
            <li><a href="/Proyecto Final nube/est.html">Estudiantes</a></li>
            <li><a href="/Proyecto Final nube/consult.html">Consultas</a></li> 
            <li><a href="/Proyecto Final nube/Ingresar.html" >Salir</a></li>
        </ul>
        </div>
          
            <div class="contenido">
                <div class="cajita">      
                <h3>Crear Votación</h3>
      <br>
        <form id="formu">

            <label for="apellidos" ><h3>Nombre de Votación&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></label>
            <input type="text" />
            <br />  
            <br />
            <label for="apellidos"><h3>Fecha de inicio&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></label>
            <input type="date"  />
            <br />
            <br />
            <label for="apellidos"><h3>Fecha de finalización&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></label>
            <input type="text"  />
            <br />
            <br />
            <label for="apellidos"><h3>Ciclo&nbsp;&nbsp;&nbsp;</h3> </label>
            <select name="" id="">
              <option value="">Ciclo1</option>
              <option value="">Ciclo1</option>
              <option value="">Ciclo1</option>
              <option value="">Ciclo1</option>
              <option value="">Ciclo1</option>
            </select>
          <br>
          <br>
            <label for="apellidos"><h3>Facultad&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></label>
            <output type="text"  />
            <label for="">Ingenieria de Telecomunicaciones</label>
            <br />
            <br />
            <label for="masculino"><h3>Votación representantes de semestre</h3></label>
            <input type="radio" name="genero" />
            <br>
            <label for="femenino"><h3>Votación representantes de facultad</h3></label> 
            <input type="radio" name="genero" />  
            <br />
            <br />
            <a href="/Proyecto Final nube/votación-creada.html" class="cr">crear</a>
      
            
          </form>
              </div>
          </div>
              <div class="contenido2">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">
              </div>
              <div class="footer"></div>
            </div>
</body>
</html>