{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Pagina Principal{% endblock %}</title>
    <link href="{% static 'app/css/Estilo_crearestudiante.css' %}" rel="stylesheet">
</head>
<body>
  <div class="header">
    <ul id="menu">
      <li ><a href="{% url 'app:menu_decano' %}">Inicio</a></li>
      <li ><a href="{% url 'app:vot' %}">Votaciones</a></li>
      <li><a href="{% url 'app:est' %}">Estudiantes</a></li>
      <li><a href="{% url 'app:consult' %}">Consultas</a></li> 
      <li><a href="{% url 'app:ingresar' %}" >Salir</a></li>
  </ul>
  </div>
      <div class="contenedor" >
              <div class="contenido">
                <h2>Crear Estudiante</h2>
      <br>
   
    <form action="{% url 'app:crear_estudiante2' %}" method="post" id="formu">
      {% csrf_token %}
      <label ><h2>Nombres&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
      <input name="nombre" id="nombre"type="text" />
      <br />  
      <br />
      <label ><h2>NombreU&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
      <input id="nombreu" name="nombreu" type="text"  />
      <br>
      <br>
      <label ><h2>Apellidos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
      <input id="apellidos" name="apellidos" type="text"  />
      <br />
      <br />
      <label ><h2>Facultad &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
      <output type="text" id="facultad" >
      <label for="">Ingenieria de Telecomunicaciones</label>
      <br />
      <br />
      <label ><h2>Documento&nbsp;&nbsp;&nbsp;</h2> </label>
      <input id="documento" name="documento" type="text" />
      <br />
      <br />
      <label id="semestre"><h2>Semestre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></label>
      <input id="semestre" name="semestre" type="text" />
      <br />
      <br />
      <label ><h2>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>  </label>
      <input id="email" name="email" type="email">
      <br />
      <br />
      <br />
      <button type="submit">Crear</button>

      
    </form>
              </div>
              <div class="contenido2">
                <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">              </div>
              <div class="footer"></div>
            </div>
</body>
</html>