<html lang="en">
<head>
    <title>Consulta</title>
    <link rel="stylesheet" href="./css/estilo_opciones.css">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/menu_decano.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">Votaciones</a></li>
            <li><a href="/Proyecto Final nube/est.html">Estudiantes</a></li>
            <li><a href="/Proyecto Final nube/consult.html">Consultas</a></li> 
            <li><a href="/Proyecto Final nube/Ingresar.html" >Salir</a></li>
        </ul>
        </div>
              <div class="contenido">
                <br><br>
                <img id="ima1" src="./image/consultar.png" alt="" width="100">

                <a href="/Proyecto Final nube/Crear_estudiante.html"><button id="Cr"><h2>Crear Estudiante</h1></button></a>
                    <a href="/Proyecto Final nube/Lista_estudiantes.html"><button id="Cr"><h2>Ver lista</h1></button></a>
                    <a href="/Proyecto Final nube/postularestudiante.html"><button id="Cr"><h2>Postular</h1></button></a>
            </div>
            <div class="contenido2">
            <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">

            </div>
              <div class="footer">
              </div>
            </div>
</body>
</html>