<html lang="en">
<head>
    <title>Hacer Votación Facultad</title>
    <link rel="stylesheet" href="./css/estilo_hacervotacion.css">
</head>
<body>
   
      <div class="contenedor" >
        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/Menu_estudiante.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">votar</a></li>
            <li><a href="/Proyecto Final nube/postularse.html">Postularse</a></li>
            <li><a href="./Consult-estudiante.html">Consultas</a></li> 
            <li><a href="/Proyecto Final nube/Ingresar.html" id="profiles">Salir</a></li>
            </ul>
          </div>    
              <div class="contenido">
                <div class="f2">
                <h2>Hacer una votación</h2>
                <br>
                <h2>Votación Por Facultad</h2>
                <br>
                <table>
                    <thead>
                      <tr>
                        <th>Numero de votación</th>
                        <th>Fecha inicio</th>
                        <th>Fecha final</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="fila"> 
                        <td>x</td>
                        <td>00000000</td>
                        <td>10/2/2022</td>  
                        <td>10/2/2022</td>  
                      </tr>   
                    </tbody>
                  </table>
      <br>
      <form class="f1">
       <fieldset>
          <label for="username">Nombres</label>
          <output type="text" id="username" />
        </fieldset>
        <fieldset>
          <label for="username">Apellidos</label>
          <output type="text" id="username" />
        </fieldset>
        <select>
            <option value="">Propuestas</option>
        <option value="1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nam similique id nemo accusamus vero ut
            tenetur voluptatum esse, saepe animi quibusdam officiis tempore autem, cum aliquid, repudiandae eaque libero.
        </option>
        </select>
        <a href="/Proyecto Final nube/voto_realizado.html"><button id="Cr"><h2>Votar</h2></button></a>
      </form>
      <br>
      <form class="f1">
        <fieldset>
          <label for="username">Nombres</label>
          <output type="text" id="username" />
        </fieldset>
        <fieldset>
          <label for="username">Apellidos</label>
          <output type="text" id="username" />
        </fieldset>
        <select>
            <option value="">Propuestas</option>
        <option value="1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nam similique id nemo accusamus vero ut
            tenetur voluptatum esse, saepe animi quibusdam officiis tempore autem, cum aliquid, repudiandae eaque libero.
        </option>
        </select>
        <a href="/Proyecto Final nube/voto_realizado.html"><button id="Cr"><h2>Votar</h2></button></a>
      </form>
      <br>
      <form class="f1">
        <fieldset>
          <label for="username">Nombres</label>
          <output type="text" id="username" />
        </fieldset>
        <fieldset>
          <label for="username">Apellidos</label>
          <output type="text" id="username" />
        </fieldset>
        <select>
            <option value="">Propuestas</option>
        <option value="1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nam similique id nemo accusamus vero ut
            tenetur voluptatum esse, saepe animi quibusdam officiis tempore autem, cum aliquid, repudiandae eaque libero.
        </option>
        </select>
        <a href="/Proyecto Final nube/voto_realizado.html"><button id="Cr"><h2>Votar</h2></button></a>
      </form> 
    </div>
              </div>
              <div class="contenido2">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">
              </div>
              <div class="footer"></div>
            </div>
</body>
</html>