{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Votación Facultad{% endblock %}</title>
    <link href="{% static 'app/css/estilo_hacervotacion.css' %}" rel="stylesheet">
</head>
<body>
   
      <div class="contenedor" >
        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:menu_estudiante' %}">Inicio</a></li>
            <li><a href="{% url 'app:postularse' %}">Postularse</a></li>
            <li><a href="{% url 'app:consult-estudiante' %}">Consultas</a></li> 
            <li><a href="{% url 'app:ingresar' %}" id="profiles">Salir</a></li>
            </ul>
        </div>
              <div class="contenido">
                <div class="f2">
                <h2>Realizar una votación</h2>
                <br>
                <h2>Votación Por Facultad</h2>
                <br>
                <table>
                    <thead>
                      <tr>
                        <th>Numero de votación</th>
                        <th>Fecha inicio</th>
                        <th>Fecha final</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="fila"> 
                        {%for v in votacion%}
                        <td>{{v.id}}</td>
                        <td>{{v.fechaInicio}}</td>
                        <td>{{v.fechaFinal}}</td>  
                        {%endfor%}
                      </tr>   
                    </tbody>
                  </table>
      <br>
      {%for c in Candidato%}
      <form class="f1">
       <fieldset>
          <label for="username">Nombres: {{c.estudiante.user.first_name}}</label>
          <output type="text" id="username" />
        </fieldset>
        <fieldset>
          <label for="username">Apellidos: {{c.estudiante.user.last_name}}</label>
          <output type="text" id="username" />
        </fieldset>
        <fieldset>
        Propuesta: {{c.propuesta}}
        </fieldset>
        <fieldset>
        Cantidad Votos: {{c.cantidadVotos}}
        </fieldset>
        <a href="{% url 'app:votacionExitosa' c.Votacion_id c.id %}">
          <button id="Cr"><h2>Votar</h2></button>
        </a>
      </form>
      <br>
      {%endfor%}
    </div>
              </div>
              <div class="contenido2">
                <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">              </div>
              <div class="footer"></div>
            </div>
</body>
</html>