{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Ingresar{% endblock %}</title>
    <link href="{% static 'app/css/Estilo_ingresar.css' %}" rel="stylesheet">
</head>
<body>
    <ul >
      <li ><a href="#">Inicio a las votaciones Usta</a></li>
      </ul>



      <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">  

      <form  method="post">
        #{% csrf_token %}
        <span>Usuario:</span>
        <input type="text" name="username">
        <br>
        <span>Password:</span>
        <input type="password" name="password">
        <br>
        <a href="{% url 'app:ingresar' %}"><button id="Cr"><h2>Ingresar</h1></button></a>
        </form>
        

        
        </body>
</html>
