<html lang="en">
<head>

    <title>Ingresar</title>
    <link rel="stylesheet" href="./css/Estilo_ingresar.css">
</head>
<body>
    <ul >
      <li ><a href="#">Inicio a las votaciones Usta</a></li>
      </ul>



    <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">
    <form>
        <fieldset>
          <label for="username">Usuario</label>
          <input type="text" id="username" />
        </fieldset>
        <fieldset>
          <label for="password">Contraseña</label>
          <input type="password" id="password" />
        </fieldset>
        <fieldset>
          <a id="ing" href="/Proyecto Final nube/menu_decano.html">
            <input type="button" value="Ingresar Decano">
        </a>
          <a id="ing" href="/Proyecto Final nube/Menu_estudiante.html">
            <input type="button" value="Ingresar estudiante">
        </a>
        </fieldset>
      </form>
    
</body>
</html>