<html lang="en">
<head>
    <title>Consutlar lista votaciones</title>
    <link rel="stylesheet" href="./css/estilo_consultavotacion.css">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/menu_decano.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">Votaciones</a></li>
            <li><a href="/Proyecto Final nube/est.html">Estudiantes</a></li>
            <li><a href="/Proyecto Final nube/consult.html">Consultas</a></li> 
            <li><a href="/Proyecto Final nube/Ingresar.html" >Salir</a></li>
        </ul>
        </div>
          
            <div class="contenido">
                <br>
                <h3>Consulta lista de Estudiantes</h2>
                <br><br>
                <table>
                          <thead>
                            <tr>
                              <th>Nombres</th>
                              <th>Apellidos</th>
                              <th>Email</th>
                              <th>Documento</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="fila"> 
                              <td>xxxxxx-xxxxxxxxxxxx</td>
                              <td>xxxxx-xxxxx-xxxx</td>
                              <td>xxxx-xxxxx@gmial</td>
                              <td>0000000000</td>
                            </tr>
                            <tr class="fila"> 
                              <td>xxxxxx-xx</td>
                              <td>xxxxx-xxxxx-xxxx</td>
                              <td>xxxx-xxxxx@gmial</td>
                              <td>0000000000</td>
                            </tr>
                            <tr class="fila"> 
                              <td>xxxxxx-xx</td>
                              <td>xxxxx-xxxxx-xxxx</td>
                              <td>xxxx-xxxxx@gmial</td>
                              <td>0000000000</td>
                            </tr>
                            <tr class="fila"> 
                              <td>xxxxxx-xx</td>
                              <td>xxxxx-xxxxx-xxxx</td>
                              <td>xxxx-xxxxx@gmial</td>
                              <td>0000000000</td>
                            </tr>
                            <tr class="fila"> 
                              <td>xxxxxx-xx</td>
                              <td>xxxxx-xxxxx-xxxx</td>
                              <td>xxxx-xxxxx@gmial</td>
                              <td>0000000000</td>
                            </tr>
                            
                          </tbody>
                        </table>
                        <br>
          </div>
              <div class="contenido2">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">
              </div>
              <div class="footer"></div>
            </div>
</body>
</html>