{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Pagina Principal{% endblock %}</title>
    <link href="{% static 'app/css/estilo_consultavotacion.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
            <ul id="menu">
              <li ><a href="/Proyecto Final nube/Menu_estudiante.html">Inicio</a></li>
              <li ><a href="/Proyecto Final nube/Vot.html">votar</a></li>
              <li><a href="/Proyecto Final nube/postularse.html">Postularse</a></li>
              <li><a href="./Consult-estudiante.html">Consultas</a></li> 
              <li><a href="/Proyecto Final nube/Ingresar.html" id="profiles">Salir</a></li>
              </ul>
          </div>
          
            <div class="contenido">
                <br>
                <h3>Candidatos Ganadores</h2>
                <table>
                          <thead>
                            <tr>
                              <th>Nombres</th>
                              <th>Apellidos</th>
                              <th>Voto</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="fila"> 
                              <td>pepito</td> 
                              <td>peres</td> 
                              <td>si</td> 
                            </tr>      
                            <tr class="fila"> 
                              <td>pepito</td> 
                              <td>peres</td> 
                              <td></td> 
                            </tr>      
                            <tr class="fila"> 
                              <td>pepito</td> 
                              <td>peres</td> 
                              <td></td> 
                            </tr>      
                          </tbody>
                        </table>
                        <br>
                        <a href="./consultar-mivoto.html" class="cr">Atras</a>
          </div>
              <div class="contenido2">
                <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">              </div>
              <div class="footer"></div>
            </div>
</body>
</html>