{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Lista de Estudiantes{% endblock %}</title>
    <link href="{% static 'app/css/estilo_consultavotacion.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:menu_decano' %}">Inicio</a></li>
            <li ><a href="{% url 'app:vot' %}">Votaciones</a></li>
            <li><a href="{% url 'app:est' %}">Estudiantes</a></li>
            <li><a href="{% url 'app:consult' %}">Consultas</a></li> 
            <li><a href="{% url 'app:ingresar' %}" >Salir</a></li>
        </ul>
        </div>
          
            <div class="contenido">
                <br>
                <h3>Consulta lista de Estudiantes</h2>
                <br><br>
                <table>
                          <thead>
                            <tr>
                              <th>Nombres</th>
                              <th>Apellidos</th>
                              <th>Email</th>
                              <th>Documento</th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            {%for lista  in lista_estudiante%}
                            <tr class="fila"> 
                              <td>{{lista.first_name}}</td>
                              <td>{{lista.last_name}}</td>
                              <td>{{lista.email}}</td>
                              <td>{{lista.password}}</td>
                            </tr>
                            {% endfor %}
                            
                          </tbody>
                        </table>
                        <br>
          </div>
              <div class="contenido2">
                <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">              </div>
              <div class="footer"></div>
            </div>
</body>
</html>