{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Pagina Principal{% endblock %}</title>
    <link href="{% static 'app/css/estiloMenuDecano.css' %}" rel="stylesheet">
</head>
<body>  
    
      <div class="contenedor" >
        {% block contenido %}
        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:menu_decano' %}">Inicio</a></li>
            <li ><a href="{% url 'app:vot' %}">Votaciones</a></li>
            <li><a href="{% url 'app:est' %}">Estudiantes</a></li>
            <li><a href="{% url 'app:consult' %}">Consultas</a></li> 
            <li><a href="{% url 'app:view_logout' %}">Salir</a></li>    
        </ul>
        </div>
        {% endblock %}
            <div class="contenido">
             
                <br><br>
                <img src="{% static 'app/image/consultar.png' %}" alt="logo" width="100">

                <a href="{% url 'app:crear_votacion' %}"><button id="Cr"><h2>Crear Votación</h1></button></a>
                <a href="{% url 'app:cambiar_estado' %}"><button id="Cr"><h2>Cambiar estado</h1></button></a>
                  
            </div>
              <div class="contenido2">
                <br><br>
                <img src="{% static 'app/image/estudiante.jpg' %}" alt="logo" width="100">

                <a href="{% url 'app:crear-estudiante' %}"><button id="Cr"><h2>Crear Estudiante</h1></button></a>
                <a href="{% url 'app:lista_estudiantes' %}"><button id="Cr"><h2>Ver lista</h1></button></a>
                <a href="{% url 'app:postularestudiante' %}"><button id="Cr"><h2>Postular</h1></button></a>
              </div>
              <div class="contenido3">
                <br><br>
                <img src="{% static 'app/image/votaciones.png' %}" alt="logo" width="100">

                <a href="{% url 'app:consultar_votacionsemestre' %}"><button id="Cr"><h2>Votación por semestre</h1></button></a>
                <a href="{% url 'app:consulta_votacionfacultad' %}"><button id="Cr"><h2>Votación por facultad</h1></button></a>
                <a href="{% url 'app:listade-votaciones' %}"><button id="Cr"><h2>Lista de votaciones</h1></button></a>
            </div>
            <div class="contenido4">
              <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">

            </div>
              <div class="footer">
              </div>
            </div>
            
</body>
</html>