{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Menu Estudiante{% endblock %}</title>
    <link href="{% static 'app/css/estiloMenuDecano.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:menu_estudiante' %}">Inicio</a></li>
            <li><a href="{% url 'app:postularse' %}">Postularse</a></li>
            <li><a href="{% url 'app:consult-estudiante' %}">Consultas</a></li> 
            <li><a href="{% url 'app:ingresar' %}" id="profiles">Salir</a></li>
            </ul>
        </div>
          
            <div class="contenido">
                <br><br>
                <img src="{% static 'app/image/estudiante.jpg' %}" alt="logo" width="100">
                <a href="{% url 'app:postularse' %}"><button id="Cr"><h2>Postularse</h1></button></a>
            </div>
              <div class="contenido2">
                <br><br>
                <img src="{% static 'app/image/consultar.png' %}" alt="logo" width="100">
                <a href="{% url 'app:resultados_finales' %}"><button id="Cr"><h2>Ver Resultados votación</h1></button></a>
                <a href="{% url 'app:listade-votaciones-est' %}"><button id="Cr"><h2>Ver Lista de Votaciones</h1></button></a>
                <a href="{% url 'app:consultar-mivoto' %}"><button id="Cr"><h2>Consultar mi voto en una Votación</h1></button></a>
              </div>
              <div class="contenido3">
                <br><br>
                <img src="{% static 'app/image/votaciones.png' %}" alt="logo" width="100">
                <a href="{% url 'app:hacer_votacion' %}"><button id="Cr"><h2>Votación por candidato Semestre</h1></button></a>
                <a href="{% url 'app:hacervotacion_facultad' %}"><button id="Cr"><h2>Votación por candidato facultad</h1></button></a>
            </div>
            <div class="contenido4">
              <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">
            </div>
              <div class="footer">
              </div>
            </div>
</body>
</html>