{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Pagina Principal{% endblock %}</title>
    <link href="{% static 'app/css/estiloMenuDecano.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/Menu_estudiante.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">votar</a></li>
            <li><a href="/Proyecto Final nube/postularse.html">Postularse</a></li>
            <li><a href="./Consult-estudiante.html">Consultas</a></li> 
            <li><a href="/Proyecto Final nube/Ingresar.html" id="profiles">Salir</a></li>
            </ul>
        </div>
          
            <div class="contenido">
                <br><br>
                <img src="{% static 'app/image/estudiante.jpg' %}" alt="logo" width="100">
                <a href="./postularse.html"><button id="Cr"><h2>Postularse</h1></button></a>
            </div>
              <div class="contenido2">
                <br><br>
                <img src="{% static 'app/image/consultar.png' %}" alt="logo" width="100">
                <a href="/Proyecto Final nube/Resultados_finales.html"><button id="Cr"><h2>Ver Resultados votación</h1></button></a>
                <a href="./Listade-votaciones-est.html"><button id="Cr"><h2>Ver Lista de Votaciones</h1></button></a>
                <a href="./consultar-mivoto.html"><button id="Cr"><h2>Consultar mi voto en una Votación</h1></button></a>
              </div>
              <div class="contenido3">
                <br><br>
                <img src="{% static 'app/image/votaciones.png' %}" alt="logo" width="100">
                <a href="/Proyecto Final nube/hacer_votacion.html"><button id="Cr"><h2>Votación por candidato Semestre</h1></button></a>
                <a href="/Proyecto Final nube/Hacervotación_facultad.html"><button id="Cr"><h2>Votación por candidato facultad</h1></button></a>
            </div>
            <div class="contenido4">
              <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">
            </div>
              <div class="footer">
              </div>
            </div>
</body>
</html>