<html lang="en">
<head>
    <title>Postulación</title>
    <link rel="stylesheet" href="./css/estilo_postularse.css">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/Menu_estudiante.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">votar</a></li>
            <li><a href="/Proyecto Final nube/postularse.html">Postularse</a></li>
            <li><a href="./Consult-estudiante.html">Consultas</a></li> 
            <li><a href="/Proyecto Final nube/Ingresar.html" id="profiles">Salir</a></li>
            </ul>
        </div>
          
            <div class="contenido">
                <br>
                <h3>Postulación</h2>
                <br><br>
                <h3>Elegir Votación</h3>
                <select>
                    <option value="">Votación</option>
                    <option value="">Votación</option>
                    <option value="">Votación</option>
                    <option value="">Votación</option>
                    <option value="">Votación</option>
                    <option value="">Votación</option>
                    <option value="">Votación</option>
                    <option value="">Votación</option>
                </select>
                <br><br>
                <label for="apellidos" ><h2>Propuestas</h2></label>
              <input type="text" />
                        <br>
                        <br>
                        <br>
                        <a href="./Ustedse-postulo.html" class="cr">Guardar</a>
          </div>
              <div class="contenido2">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">
              </div>
              <div class="footer"></div>
            </div>
</body>
</html>