<html lang="en">
<head>
    <title>Postular estudiante a facultad</title>
    <link rel="stylesheet" href="./css/estilo_posestudiante.css">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
            <ul id="menu">
                <li ><a href="/Proyecto Final nube/menu_decano.html">Inicio</a></li>
                <li ><a href="/Proyecto Final nube/Vot.html">Votaciones</a></li>
                <li><a href="/Proyecto Final nube/est.html">Estudiantes</a></li>
                <li><a href="/Proyecto Final nube/consult.html">Consultas</a></li> 
                <li><a href="/Proyecto Final nube/Ingresar.html" >Salir</a></li>
            </ul>
        </div>
          
            <div class="contenido">
                <br>
                <br><br>
                <h3>Candidatos a representande de facultad</h3>
                <div class="flexsearch">
                        <form class="flexsearch--form" action="#" method="post">
                            <div class="flexsearch--input-wrapper">
                                <input class="flexsearch--input" type="search" >
                                <input class="flexsearch--submit" type="submit" value="Buscar"/>
                            </div>
                        </form>
            </div>
                <br><br>
                <h3>Votación</h3>   
                <select>
                    <option value="">Votación</option>
                    <option value="1">Candidato 1</option>
                    <option value="1">Candidato 1</option>
                    <option value="1">Candidato 1</option>
                    <option value="1">Candidato 1</option>
                    <option value="1">Candidato 1</option>
                    <option value="1">Candidato 1</option>
                    <option value="1">Candidato 1</option>
                    <option value="1">Candidato 1</option>
                </select>
                <br><br>
                        <br>
                        <a href="" class="cr">Guardar</a>
          </div>
              <div class="contenido2">
                <table>
                    <thead>
                        <tr class="no">
                            <th>Numero</th>
                            <th>Lista Estudiantes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="fila">
                            <td>Nombre 1</td>
                            <td for="estado" id="pos">
                                Postulación
                            </td> 
                         </tr>
                        <tr class="fila">
                            <td>Nombre 1</td>
                            <td for="estado" id="pos">
                                Postulación
                            </td> 
                         </tr>
                        <tr class="fila">
                            <td>Nombre 1</td>
                            <td for="estado" id="pos">
                                Postulación
                            </td> 
                         </tr>
                        <tr class="fila">
                            <td>Nombre 1</td>
                            <td for="estado" id="pos">
                                Postulación
                            </td> 
                         </tr>
                        <tr class="fila">
                            <td>Nombre 1</td>
                            <td for="estado" id="pos">
                                Postulación
                            </td> 
                         </tr>
                        
                    </tbody>
                  </table>
              </div>
              <div class="contenido3">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="150">
              </div>
              <div class="footer"></div>
            </div>
</body>
</html>