<html lang="en">
<head>
    <title>Resultados finales de Votación</title>
    <link rel="stylesheet" href="./css/Resultado_final.css">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
            <ul id="menu">
              <li ><a href="/Proyecto Final nube/Menu_estudiante.html">Inicio</a></li>
              <li ><a href="/Proyecto Final nube/Vot.html">votar</a></li>
              <li><a href="/Proyecto Final nube/postularse.html">Postularse</a></li>
              <li><a href="./Consult-estudiante.html">Consultas</a></li> 
              <li><a href="/Proyecto Final nube/Ingresar.html" id="profiles">Salir</a></li>
              </ul>
            </div> 
          
            <div class="contenido">
                <br>
                <h3>Resultados finales de Votación</h2>
                <br><br>
                <table>
                          <thead>
                            <tr>
                              <th>Nombre Votacion</th>
                              <th>Ciclo</th>
                              <th>Fecha de inicio</th>
                              <th>Fecha finalización</th>
                              <th>candidatos</th> 
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="fila"> 
                              <td></td>
                              <td for="estado" id="pos">
                                  
                              </td>  
                              <td for="estado"id="vot">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                <a href="./consult-candidatos-es.html" class="cr">Consultar</a>
                              </td>   
                            </tr>
                            <tr class="fila"> 
                              <td></td>
                              <td for="estado" id="pos">
                                  
                              </td>  
                              <td for="estado"id="vot">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                <a href="./consult-candidatos-es.html" class="cr">Consultar</a>
                              </td>   
                            </tr>
                            <tr class="fila"> 
                              <td></td>
                              <td for="estado" id="pos">
                                  
                              </td>  
                              <td for="estado"id="vot">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                <a href="./consult-candidatos-es.html" class="cr">Consultar</a>
                              </td>   
                            </tr>
                            <tr class="fila"> 
                              <td></td>
                              <td for="estado" id="pos">
                                  
                              </td>  
                              <td for="estado"id="vot">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                  
                              </td>  
                              <td for="estado" id="cerrada">
                                <a href="./consult-candidatos-es.html" class="cr">Consultar</a>
                              </td>   
                            </tr>
                           
                          </tbody>
                        </table>
                        <br>
          </div>
              <div class="contenido2">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="100">
              </div>
              <div class="footer"></div>
            </div>
</body>
</html>