{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Pagina Principal{% endblock %}</title>
    <link href="{% static 'app/css/estilo_opciones.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/menu_decano.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">Votaciones</a></li>
            <li><a href="/Proyecto Final nube/est.html">Estudiantes</a></li>
            <li><a href="/Proyecto Final nube/consult.html">Consultas</a></li> 
            <li><a href="/Proyecto Final nube/Ingresar.html" >Salir</a></li>
        </ul>
        </div>
              <div class="contenido">
                <br><br>
                <img src="{% static 'app/image/consultar.png' %}" alt="logo" width="100">
                <a href="/Proyecto Final nube/crear_votacion.html"><button id="Cr"><h2>Crear Votación</h1></button></a>
                    <a href="/Proyecto Final nube/cambiar_estado.html"><button id="Cr"><h2>Cambiar estado</h1></button></a>
            </div>
            <div class="contenido2">
              <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">
            </div>
              <div class="footer">
              </div>
            </div>
</body>
</html>