{% load static %}
	

<html lang="en">
<head>
    <title>{% block titulo %}Pagina Principal{% endblock %}</title>
    <link href="{% static 'app/css/estilo_opciones.css' %}" rel="stylesheet">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="{% url 'app:menu_decano' %}">Inicio</a></li>
            <li ><a href="{% url 'app:vot' %}">Votaciones</a></li>
            <li><a href="{% url 'app:est' %}">Estudiantes</a></li>
            <li><a href="{% url 'app:consult' %}">Consultas</a></li> 
            <li><a href="{% url 'app:ingresar' %}" >Salir</a></li>
        </ul>
        </div>
              <div class="contenido">
                <br><br>
                <img src="{% static 'app/image/consultar.png' %}" alt="logo" width="100">
                <a href="{% url 'app:crear_votacion' %}" ><button id="Cr"><h2>Crear Votación</h1></button></a>
                    <a href="{% url 'app:cambiar_estado' %}" ><button id="Cr"><h2>Cambiar estado</h1></button></a>
            </div>
            <div class="contenido2">
              <img src="{% static 'app/image/Logotipo_USTA_Colombia.png' %}" alt="logo" width="100">
            </div>
              <div class="footer">
              </div>
            </div>
</body>
</html>