<html lang="en">
<head>
    <title>Cambiar Estado</title>
    <link rel="stylesheet" href="./css/voto_realizado.css">
</head>
<body>
    
      <div class="contenedor" >

        <div class="header">
          <ul id="menu">
            <li ><a href="/Proyecto Final nube/Menu_estudiante.html">Inicio</a></li>
            <li ><a href="/Proyecto Final nube/Vot.html">votar</a></li>
            <li><a href="/Proyecto Final nube/postularse.html">Postularse</a></li>
            <li><a href="./Consult-estudiante.html">Consultas</a></li>  
            <li><a href="/Proyecto Final nube/Ingresar.html" id="profiles">Salir</a></li>
            </ul>
        </div>
          
            <div class="contenido">
                <h1>Su voto a sido realizado</h1>
          </div>
              <div class="contenido2">
                <img id="logousta" src="./image/Logotipo_USTA_Colombia.png" alt="" width="150">
              </div>
              <div class="footer">
                <button id="Cr"><h2>Volver al inicio</h2></button>
              </div>
            </div>
</body>
</html>