* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
ul {
    list-style-type: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #0432AA;
    height: 50px;
  }
  
  ul li {
    display: inline;
    margin-right: 15px;
    position: relative;
    left: 500px; top: 10px;
  }
  
  ul a {    
    text-decoration: none;
    background: #0432AA;
    color: #fff;
  }
  
  ul a:hover {
    background: #faffb4;
    color: #000;
  }

    .contenedor {
        background: rgb(255, 255, 255);
        width: auto;
        height: auto  ;
        display: grid;
        grid-template: 50px 550px 50px / 1fr 0.5fr;
        /* gap: 20px; */
      }
      .header {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
      list-style-type: none;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background: #0432AA;
      height: 50px;
      }

      .contenido {
        background: #ffffff;
        grid-row: 2 /3;
        grid-column: 1 /2;
        /* Horizontal */
        justify-items: center;
        /* Vertical */
        align-items: end;
      
      }
      .contenido2 {
        background: #ffffff;
        grid-row: 2 /3;
        grid-column: 2 /3;
        /* Horizontal */
        justify-items: center;
        /* Vertical */
        align-items: end;
      
      }
            
      .footer {
        background: #0432AA;
        grid-row: 3 / 4;
        grid-column: 1 / 3;
      }
      #formu {
        position: relative;
        left: 200px; top: 40px;
      }  
      input {
        background: #dfdfdfa2;
        border-radius: 30px;
        width: 300px; HEIGHT: 40px
    } 
    h2 { display:inline; }
    #cr {
      background: #F3D222;
      border-radius: 10px;
      height: 50px;
      width: 150px;

  }
  #logousta {
    position: relative;
    left: 150px; top: 200px;
}
