* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  ul li {
    display: inline;
    margin-right: 15px;
    position: relative;
    left: 500px; top: 10px;
  }
  
  ul a {
    text-decoration: none;
    background: #0432AA;
    color: #fff;
  }
  
  ul a:hover {
    background: #faffb4;
    color: #000;
  }

    .contenedor {
        background: rgb(255, 255, 255);
        width: auto;
        height: auto  ;
        display: grid;
        grid-template: 50px 550px 50px / 1fr 0.7fr;
      }

      .header {
          grid-row: 1 / 2;
          grid-column: 1 / 3;
        list-style-type: none;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background: #0432AA;
        height: 50px;
        }

      .contenido {
        background: #ffffff;
        grid-row: 2 /3;
        grid-column: 1 /2;
        /* Horizontal */
        justify-items: center;
        /* Vertical */
        align-items: end;
        padding: 150px;
      
      }
      .contenido2 {
        background: #ffffff;
        grid-row: 2 /3;
        grid-column: 2 /3;
        /* Horizontal */
        justify-items: center;
        /* Vertical */
        align-items: end;
      
      }
            
      .footer {
        background: #0432AA;
        grid-row: 3 / 4;
        grid-column: 1 / 3;
      }

  #logousta {
    position: relative;
    left: 150px; top: 200px;
}

  h1{
      color: green;
      font-size: 50;
  }
  #cr{
      background-color: #faffb4;
    color: green;
    font-size: 10;
    border-radius: 10;
  }